@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-family: "Ubuntu", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--theme);
  }

  :root {
    --theme: #0ea5e9;
    --theme-hover: #7dd3fc;
    --border: #57534e;
    --background-primary: #171717;
    --background-secondary: #404040;
    --background-skeleton: #292524;
    --font-primary: #fff;
    --font-secondary: #a3a3a3;
    --error: #dc2626;
  }

  img {
    image-rendering: pixelated;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
